p {
    color: black;
    background-color: gray;
    width: 300px;
    height: 300px;
    margin: 50px;
    padding: 50px;
    box-sizing: border-box;
    border: 10px rgb(216, 109, 109);
    border-style: solid dashed dotted ;

}

p {
    color: black;
    background-color: gray;
    width: 300px;
    height: 300px;
    margin: 50px;
    padding: 50px;
    box-sizing: border-box;
    border: 10px rgb(216, 109, 109);
    border-style: solid dashed dotted ;

}
p {
    color: black;
    background-color: gray;
    width: 300px;
    height: 300px;
    margin: 50px;
    padding: 50px;
    box-sizing: border-box;
    border: 10px rgb(216, 109, 109);
    border-style: solid dashed dotted ;

    
}
p {
    color: black;
    background-color: gray;
    width: 300px;
    height: 300px;
    margin: 50px;
    padding: 50px;
    box-sizing: border-box;
    border: 10px rgb(216, 109, 109);
    border-style: solid dashed dotted ;

}
